<p id="notice"><%= notice %></p>

<p>
  <strong>Car make:</strong>
  <%= @car.make.name %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @car.car_model %>
</p>

<p>
  <strong>Vin number:</strong>
  <%= @car.vin_number %>
</p>

<p>
  <strong>Parts:</strong>
</p>
<ul>
  <% @car.parts.each do |part| %>
    <li><%= part.part_name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
